:root {
  --primary-green: #596d48;
  --light-gray: #e5e7eb;
  --error-red: #c13838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

.container {
  display: flex;
}

.sidebar {
  background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: fill;
  width: calc(25% * 1.5);
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10rem;
  font-family: norse-bold !important;
  align-items: center;
  padding: 0.4rem 0;
  background-color: rgba(22, 22, 22, 0.6);
}

.logo img {
  max-width: 100%;
  max-height: 5rem;
  height: auto;
  z-index: 1;
}

span {
  color: white;
  font-size: 4rem;
  z-index: 1;
}

.photo-credit {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}


.form-section {
  font-family: sans-serif, system-ui;
  padding: 2rem;
  margin-top: 4rem;
}

.header p {
  font-size: 1rem;
  font-weight: 600;
  max-width: 65%;
}

.header :last-child {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.header p em {
  font-style: italic;
  font-weight: 600;
}

.form-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  max-width: 55%;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.25rem;
}

input {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 4px 4px 5px rgba(89, 109, 72, 0.3);
}

input[type='password']:focus {
  outline: none;
  border-color: var(--error-red);
  box-shadow: 0 0 5px rgba(var(--error-red), 0.3);
}

.separator {
  border-top: 2px solid var(--light-gray); /* Thin horizontal line */
  box-shadow: 2px 2px 5px rgba(89, 109, 72, 0.3);
  margin: 32px -2rem;
}

button[type='submit'] {
  background-color: var(--primary-green);
  padding: 12px 48px;
  margin-bottom: 2rem;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(89, 109, 72, 0.3);
}

.login-link a {
  text-decoration: none;
}
